- name: Setup de base
  hosts: all
  become: true
  roles:
    - common
  tasks:
    - name: Debug variables
      debug:
        msg:
          - "App={{ app_name }}"
          - "Env={{ env }}"
          - "Port={{ nginx_port }}"